@using Sonorize.Photino.Blazor.Shared

@if (IsVisible)
{
    <div class="modal-backdrop" @onclick="Cancel">
        <div class="modal-container" @onclick:stopPropagation>
            <div class="modal-header">Save Theme</div>
            <div class="modal-body">
                <label style="display:block; margin-bottom:5px;">Theme Name</label>
                <input type="text" class="form-control" @bind="_themeName" placeholder="My Custom Theme" @onkeyup="HandleKeyUp" />
            </div>
            <div class="modal-footer">
                <button class="btn" @onclick="Cancel">Cancel</button>
                <button class="btn btn-primary" @onclick="Confirm">Save</button>
            </div>
        </div>
    </div>
}