.queue-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }

    .queue-list {
        flex: 1;
        overflow-y: auto;
    }

    .empty-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh;
        color: var(--text-secondary);
        font-size: 1.2em;
    }

        .empty-message i {
            font-size: 3em;
            margin-bottom: 20px;
            opacity: 0.5;
        }