@using Sonorize.Core
@using Sonorize.Core.Services
@using Sonorize.Core.Services.Audio
@using Sonorize.Core.Settings
@implements IDisposable
@inject IPlayerService PlayerService
@inject SonorizeSettings AppSettings
@inject ISettingsManager<SonorizeSettings> SettingsManager

@if (_hasCustomBg)
{
    <div class="custom-bg-layer" style="@CustomBgStyle"></div>
}

<div class="@AmbientLayerClass" style="@AmbientLayerStyle"></div>