@using Sonorize.Core.Settings
@using Sonorize.Photino.Blazor.Shared.Player.Widgets
@inject SonorizeSettings AppSettings
@inject ISettingsManager<SonorizeSettings> SettingsManager

<footer class="player-bar">
    <div class="player-zone left">
        @foreach (var widget in AppSettings.Theme.PlayerBarLayout.Left)
        {
            <DynamicWidget Type="@widget" />
        }
    </div>

    <div class="player-zone center">
        @foreach (var widget in AppSettings.Theme.PlayerBarLayout.Center)
        {
            <DynamicWidget Type="@widget" />
        }
    </div>

    <div class="player-zone right">
        @foreach (var widget in AppSettings.Theme.PlayerBarLayout.Right)
        {
            <DynamicWidget Type="@widget" />
        }
    </div>
</footer>