@using Sonorize.Core.Services
@using Sonorize.Core.Services.UI
@using Sonorize.Core.Settings
@inject LayoutStateService LayoutState

<div class="zone-column" ondragover="event.preventDefault();" @ondrop="HandleZoneDrop">
    <div class="zone-header">@Title</div>

    <div class="zone-list">
        @for (int i = 0; i < Widgets.Count; i++)
        {
            var index = i;
            var widget = Widgets[i];

            <div class="widget-item"
                 draggable="true"
                 @ondragstart="() => HandleDragStart(index)"
                 @ondragend="HandleDragEnd"
                 @ondrop="() => HandleItemDrop(index)"
                 @ondrop:stopPropagation>

                <span>@widget</span>

                <button class="remove-btn danger" title="Remove" @onclick="() => OnRemove.InvokeAsync(index)">
                    &times;
                </button>
            </div>
        }

        <div class="add-wrapper">
            <select @bind="AddSelection">
                <option value="">+ Add Widget</option>
                @foreach (var w in Enum.GetValues<PlayerBarWidget>())
                {
                    <option value="@w">@w</option>
                }
            </select>
        </div>
    </div>
</div>