@using System.Text.RegularExpressions

<div class="color-control">
    <div class="color-label-row">
        <span class="color-label">@Label</span>
        <button class="reset-btn" @onclick="OnReset" title="Reset to default">
            <i class="fas fa-undo"></i>
        </button>
    </div>
    <div class="color-input-row">
        <div class="color-swatch-wrapper">
            <input type="color" value="@Value" @onchange="HandleColorChange" class="color-picker-input" />
        </div>
        <input type="text"
               value="@Value"
               @onchange="HandleTextChange"
               class="hex-input"
               spellcheck="false"
               maxlength="7" />
    </div>
</div>

